In [12]:
import pandas as pd
from tkinter import Tk
from tkinter.filedialog import askopenfilename

In [21]:
# Hide the root window
Tk().withdraw()

# Open file picker dialog
file_path = askopenfilename(title="Select Excel File", filetypes=[("Excel files", "*.xlsx *.xls")])

In [22]:
# Load selected file
df = pd.read_excel(file_path)

print(f"Loaded file: {file_path}")
print(df.head(5))

Loaded file: D:/TL Delivery/TL-Delivery Team/RK_Courier-25.06.2025 (June-24=76).xlsx
   Ref. No      cdate        Gateway         zonename  wardname  \
0   162421 2025-06-24  Agent Banking  ৫ কারওয়ান বাজার        26
1   162422 2025-06-24  Agent Banking         ৪ মিরপুর        14
2   162423 2025-06-24  Agent Banking         ৪ মিরপুর        16
3   162424 2025-06-24  Agent Banking         ২ মিরপুর         5
4   162425 2025-06-24  Agent Banking         ৪ মিরপুর        12

                         businame                OwnerName          Mob  \
0              মুনতাহা বাণিজ্যালয়            মোঃ আবু তাহের  01831103490
1                মীর এন্টারপ্রাইজ        মীর মোশাররফ হোসেন  01811429288
2      মেসার্স এস এন এন্টারপ্রাইজ          মোঃ আরাফুল ইলাম  01735990503
3  এম. টি. আই কেমিক্যালস কোম্পানী  মোঃ আবুল কালাম আজাদ খান  01343878354
4                বেস্ট ওয়ে ট্রিমস         মোঃ আব্দুল খালেক  01943096070

                                             busiadd               TLNumber  \
0  ৩/ডি, কাব্যকস সুপার মার্কেট, কাওরান বাজার, তেজ...  TRAD/DNCC/049985/2024
1  বাঃ প্লট-৩৩, সেকশন-৬/খ, মেইন রোড-১, মিরপুর, ঢা...  TRAD/DNCC/049986/2024
2               ৮৫১ , ইব্রাহিমপুর, কাফরুল, ঢাকা-১২০৬  TRAD/DNCC/049988/2024
3  সেকশন-১১ ব্লক-ই, এভিনিউ-২, প্লট-আই/৮, পল্লবী ম...  TRAD/DNCC/049987/2024
4  প্লট-১০,১১,১৯,২১, ব্লক-বি, মেইন রোড, কলওয়ালাপা...  TRAD/DNCC/049989/2024

   TL Page  Print Code  UV Code PaymentType  \
0      NaN         NaN      NaN        APPL
1      NaN         NaN      NaN        APPL
2      NaN         NaN      NaN        APPL
3      NaN         NaN      NaN        APPL
4      NaN         NaN      NaN        APPL

                                            busitype  bookvalue
0                                   কাচামাল বিক্রেতা        270
1      সরবরাহকারী (দাহ্য পদার্থ ও ক্যামিকেল ব্যাতিত)        270
2      সরবরাহকারী (দাহ্য পদার্থ ও ক্যামিকেল ব্যাতিত)        270
3  আমদানী,রপ্তানী,সরবরাহকারী (দাহ্য পদার্থ ও ক্যা...        270
4                        গার্মেন্টস এক্সেসরিজ ব্যবসা        270

In [23]:
# Format 'cdate' column to d-m-yy
df['cdate'] = pd.to_datetime(df['cdate']).dt.strftime('%d-%m-%y')

In [24]:
# Add a new column 'product_type' with value 'trade_license'
df['product_type'] = 'trade_license'

In [25]:
# Remove hyphens from Mob column (though already done implicitly, we ensure it here)
df['Mob'] = df['Mob'].str.replace('-', '', regex=False)

In [26]:
# Add '88' before each number, ensuring no duplicate '88' if already present
df['Mob'] = df['Mob'].astype(str).str.replace(r'\D', '', regex=True).apply(lambda x: '88' + x if not x.startswith('88') else x)

# Display updated mobile numbers
df[['Mob']].head(10)

             Mob
0  8801831103490
1  8801811429288
2  8801735990503
3  8801343878354
4  8801943096070
5  8801754784354
6  8801712657423
7  8801712710412
8  8801712209471
9  8801552385040

In [27]:
# Save to new Excel file
output_path = 'RK-Courier-25.06.2025_Modified.xlsx'
df.to_excel(output_path, index=False)